/* page.module.css */

.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    left: 50%; /* Centrado en la posición horizontal */
    transform: translateX(-50%); /* Centrado en la posición horizontal */
    background-color: #008f39;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s;
    display: none; /* Inicialmente oculto */
  }
  
  .scrollToTopButton:hover {
    background-color: rgb(0, 248, 58);
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* styles.module.css */
  
  .cartButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .cartModalContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/* StarRating.module.css */
.starRating {
  display: flex;
}

.star {
  color: #ffd700; 
  transition: color 0.3s;
}

.filled {
  color: #ffcc00; 
}

